<?xml version="1.0"?>
<launch>

    <include file="$(find ruka_moveit_config_real_gripper)/launch/move_group.launch"/>
    <!-- If needed, broadcast static tf for robot root -->

    <include file="$(find ruka_moveit_config_real_gripper)/launch/planning_context.launch">
        <arg name="load_robot_description" value="true"/>
    </include>


    <!-- Given the published joint states, publish tf for the robot links -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true"
          output="screen"/>


    <!-- Run Rviz and load the default config to see the state of the move_group node -->
    <include file="$(find ruka_moveit_config_real_gripper)/launch/moveit_rviz.launch"> <arg name="rviz_config" value="$(find ruka_moveit_config_real_gripper)/launch/moveit.rviz"/>
        <!--<arg name="config" value="true"/>-->
        <!-- <arg name="debug" value="$(arg debug)"/> -->
    </include>



</launch>