<launch>
    <arg name="node_start_delay" default="8.0" />  

    <node pkg="wenglor_driver" type="pointcloud_zber" name="pointcloud_zber" output="screen"/>

    <node name="listener" pkg="roscpp_tutorials" type="listener" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " />
    
    <node pkg="wenglor_driver" type="filtracia_pointcloud" name="filtracia_pointcloud" output="screen"/>

</launch>